ion-tabs {
    --ion-tab-bar-background: url('../../assets/tab.jpg') !important;
    --ion-tab-bar-background-repeat: no-repeat !important;
    --ion-tab-bar-background-size: 100% 100% !important;
    --ion-tab-bar-color: rgb(244, 112, 112) !important;
    --ion-tab-bar-font-size: bold !important;
    background-position: center !important;
}
