
<ion-tabs class="tab-nav">

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goM()">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Ganar pasta</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goI()">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Upgrades</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goP()">
      <ion-icon name="people"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
